*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  line-height: 1;
  font-family: Helvetica, Verdana, sans-serif;
  padding: 1%;
}
ol, ul {
  list-style: none;
}
input, select, option, textarea, button {
  font-family: inherit;
  font-size: 100%;
}
header {
    color: #fff;
    background-color: #3C459C;
}
h1 {
    text-align: center;
}

#currentWeather {
    border: 2px solid #bcbcbc;
    min-height: 100px;
    width: 80%;
    margin: 10px auto;
    padding: 2%;
}
#currentWeather h2 {
    margin-bottom: 2%;
}
#currentWeather p {
    margin-bottom: 1%;
}
